extends ../base/basic-templ

block vars
  - var mainPage = true
  - var title = 'Главная страница'
  - var description = 'Описание главной страницы'

block content

  nav.main-nav
    ul.__list

  section.block.--some-modifier
    .__the-child-el Ля-ля фа - эти ноты
      span.the-grandchild.-with-content Inside
  ul.menu-list
    each link, title in nav.mainNav
      li
        a(href= link).__link= title

