extends ../base/basic-templ

block vars
  - var currentPage = 'Главная'
  - var title = 'Главная страница'
  - var description = 'Описание главной страницы'

block content
  main.page-main
    h1.visually-hidden Welcome to gulp4-start template!

    // slideshow/gallery/advertising
    //+promoBlock('slideshow')

    // advantages/services
    +featuresList('services')

    // brands/parthers/customers/technologies
    +logoList('technologies')

    +map

block forms
  +feedback


