extends ../base/basic-templ

block vars
  - var currentPage = 'Главная'
  - var title = 'Главная страница'
  - var description = 'Описание главной страницы'

block content
  main.page-main
    h1 Welcome to gulp4-start template!
    
    // slideshow/gallery/adversting
    section.slideshow
      .slideshow__wrap
        h2.visually-hidden Слайдшоу
          ul.slideshow__list
            li.slideshow__item.slideshow__item--active
              p.slideshow__caption
              p.slideshow__desc Заголовок первого слайда
              a.btn.slideshow__btn(href='#') Кнопка
              picture.slideshow__img
                source(type='image/webp', srcset='img/content/slide1.webp')
                img(src='img/content/slide1.png', alt='Какой-нибудь текст')
          .slideshow__toggles
            button.slideshow__toggle.slideshow__toggle--checked(type='button', aria-label='Первый слайд')
            button.slideshow__toggle(type='button', aria-label='Второй слайд')
            button.slideshow__toggle(type='button', aria-label='Третий слайд')
          .slideshow__arrows
            button.slideshow__arrow.slideshow__arrow--prev(type='button', aria-label='Предыдущий слайд')
            button.slideshow__arrow.slideshow__arrow--next(type='button', aria-label='Следующий слайд')


