.main-nav {

  &__list {
    @include list-row;
  }

  &__item {
    @include text(16px, 18px);
    text-transform: uppercase;
    font-weight: 600;
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__link {
    @include text(16px, 18px);
    color: $deepskyblue;

    &:hover,
    &:focus  {
      color: $royalblue;
    }

    &:active {
      color: darkblue;
    }
  }
}
