.page-footer {
  background: aliceblue;
  &__wrap {
    @include flex-box(flex-start, center);
    padding: 0 40px;
    min-height: 50px;
    height: 50px;
  }
  &__logo {
    margin-right: 80px;
  }
}
