//colors
$black: black;
$white: white;
$aliceblue: aliceblue;
$deepskyblue: deepskyblue;
$lime: lime;
$royalblue: royalblue;
$darkblue: darkblue;

$content-color: $royalblue;
$global-bg: $white;

$font-face: 'PT Sans', Arial, sans-serif;

@mixin text($font-size: 14px, $line-height: 16px, $color: null) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin ul-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin list-row {
  @include ul-reset;
  display: flex;
}

@mixin list-item ($right: null, $bottom: null){
  &:not(:last-child) {
    margin-right: $right;
    margin-bottom: $bottom;
  }
}

@mixin flex-box($justify: null, $align: null) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-center($justify: null, $align: null) {
  @include flex-box(center, center);
}

@mixin wrapper ($display: null, $justify: null, $align: null) {
  &__wrap {
    @if $display == null {
      padding: 0 40px;
    }
    @else {
      @include flex-box($justify,  $align);
      padding: 0 40px;
    }
  }
}

@mixin hr {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 3px dashed #e0e0e0;
}

@mixin heading-2{
  &__caption {
    @include text(30px, 30px, cornflowerblue);
    text-align: center;
    text-transform: uppercase;
  }
}

@mixin position($position, $top: null, $left: null, $right: null, $bottom: null){
  position: $position;
  left: $left;
  top: $top;
  right: $right;
  bottom: $bottom;
}

@mixin wh($width: null, $height: null){
  width: $width;
  height: $height;

  @if $height == null {
    width: $width;
    height: $width;
  }
}

@mixin ib {
  display: inline-block;
  vertical-align: top;
}

@mixin btn {
  border: 0;
  padding: 0;
  background: none;
}

@mixin btn-link {
  padding: 7px 10px 9px;
  border: 1px solid #ff5d04;
  border-radius: 8px;
  background-color: coral;

  &:focus,
  &:hover {
    background-color: #ff5d04;
    border-color: coral;
  }
  &:active {
    background-color: #ff4000;
  }
}
