extends ../base/basic-templ

block vars
  - var currentPage = 'Главная'
  - var title = 'Главная страница'
  - var description = 'Описание главной страницы'

block content
  main.page-inner
    +catalogList('services', 'Категории', categories)
    +catalogList('hotels', 'Отели', goods, 'hotel')

